@using RemoteProtocolsWASM.Shared.ViewModels.UserVm
@using RemoteProtocolsWASM.Shared.ViewModels.GroupVm
@using RemoteProtocolsWASM.Shared.ViewModels.CarVm
@using RemoteProtocolsWASM.Shared.ViewModels.XLViewModels
@using RemoteProtocolsWASM.Client.Application.Interfaces
@using RemoteProtocolsWASM.Client.Application.Interfaces.XLInterfaces
@inject IUserService UserService
@inject ICarService CarService
@inject IGroupService GroupService
@inject IWarehouseService WarehouseService 
@inject DialogService DialogService
@page "/Pages/Administrator/UserMgmt/NewUser"

<div class="content">
    <RadzenTemplateForm Data="@newUser" TItem="NewUserVm" Submit="@CreateUser">
        <DataAnnotationsValidator />
        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Login:" Component="UserName" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="UserName" @bind-Value="@newUser.UserName" />
                <ValidationMessage For="@(() =>newUser.UserName)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Email:" Component="Email" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Email" @bind-Value="@newUser.Email" />
                <ValidationMessage For="@(() =>newUser.Email)" />
            </div>

        </div>
        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Imię i Nazwisko:" Component="Name" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Name" @bind-Value="@newUser.Name" />
                <ValidationMessage For="@(() =>newUser.Name)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Hasło:" Component="Password" />
            </div>

            <div class="col-md-8">
                <RadzenPassword Name="Password" @bind-Value="@newUser.Password" />
                <ValidationMessage For="@(() =>newUser.Password)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Potwierdź Hasło:" Component="ConfirmPassword" />
            </div>

            <div class="col-md-8">
                <RadzenPassword Name="ConfirmPassword" @bind-Value="@newUser.ConfirmPassword" />
                <ValidationMessage For="@(() =>newUser.ConfirmPassword)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Magazyn:" Component="Warehouse" />
            </div>

            <div class="col-md-8">
                <RadzenDropDown AllowClear="true" TValue="string" Name="Warehouse"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                Data=@itecomWarehouses TextProperty="Name" ValueProperty="Name" @bind-Value="@newUser.Warehouse" />
                <ValidationMessage For="@(() =>newUser.Warehouse)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="MagazynDino:" Component="WarehouseDino" />
            </div>

            <div class="col-md-8">
                <RadzenDropDown AllowClear="true" TValue="string" Name="WarehouseDino"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                Data=@dinoWarehouses TextProperty="Name" ValueProperty="Name" @bind-Value="@newUser.WarehouseDino" />
                <ValidationMessage For="@(() =>newUser.WarehouseDino)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Samochód:" Component="CarId" />
            </div>

            <div class="col-md-8">
                <RadzenDropDown AllowClear="true" TValue="int" Name="CarId"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                Data=@cars TextProperty="RegistrationNumber" ValueProperty="CarId" @bind-Value="@newUser.CarId" />
                <ValidationMessage For="@(() =>newUser.CarId)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Grupa:" Component="GroupId" />
            </div>

            <div class="col-md-8">
                <RadzenDropDown AllowClear="true" TValue="int" Name="GroupId"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                Data=@groups TextProperty="Code" ValueProperty="GroupId" @bind-Value="@newUser.GroupId" />
                <ValidationMessage For="@(() =>newUser.GroupId)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Przełożony:" Component="ManagerId" />
            </div>

            <div class="col-md-8">
                <RadzenDropDown AllowClear="true" TValue="string" Name="ManagerId"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true"
                                Data=@managers TextProperty="Name" ValueProperty="Id" @bind-Value="@newUser.ManagerId" />
                <ValidationMessage For="@(() =>newUser.ManagerId)" />
            </div>

        </div>


        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Zapisz" Icon="save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Zamknij" Icon="cancel" Click="@((args) => DialogService.Close(false))" style="display: inline-block; margin-left: 10px;" />
            </div>
        </div>

    </RadzenTemplateForm>
</div>

@code {
    NewUserVm newUser = new NewUserVm();
    IEnumerable<UserListVm> managers;
    IEnumerable<CarListVm> cars;
    IEnumerable<GroupListVm> groups;
    IEnumerable<WarehouseListVm> itecomWarehouses;
    IEnumerable<WarehouseListVm> dinoWarehouses;

    protected override async Task OnInitializedAsync()
    {
        managers = await UserService.GetUsers();
        cars = await CarService.GetActiveCars();
        groups = await GroupService.GetActiveGroups();
        itecomWarehouses = await WarehouseService.GetItecomWarehouses();
        dinoWarehouses = await WarehouseService.GetDinoWarehouses();
    }

    protected async Task CreateUser()
    {
        await UserService.CreateUser(newUser);
        DialogService.Close(true);
    }
}
