@using RemoteProtocolsWASM.Shared.ViewModels.LocationVm
@using RemoteProtocolsWASM.Client.Application.Interfaces
@inject ILocationService LocationService
@inject DialogService DialogService

@page "/Pages/Options/Location/EditLocation/{LocationId}"
<div class="content">
    <RadzenTemplateForm Data="@location" TItem="NewLocationVm" Submit="@UpdateLocation">
        <DataAnnotationsValidator />
        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Kod:" Component="Code" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Code" @bind-Value="@location.Code" />
                <ValidationMessage For="@(() =>location.Code)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Nazwa:" Component="Name" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Name" @bind-Value="@location.Name" />
                <ValidationMessage For="@(() =>location.Name)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Adres:" Component="Address" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Address" @bind-Value="@location.Address" />
                <ValidationMessage For="@(() =>location.Address)" />
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Email:" Component="Email" />
            </div>

            <div class="col-md-8">
                <RadzenTextBox Name="Email" @bind-Value="@location.Email" />
                <ValidationMessage For="@(() =>location.Email)" />
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Zapisz" Icon="save" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Zamknij" Icon="cancel" Click="@((args) => DialogService.Close(false))" style="display: inline-block; margin-left: 10px;" />
            </div>
        </div>

    </RadzenTemplateForm>
</div>


@code {
    [Parameter]
    public int LocationId { get; set; }

    NewLocationVm location = new NewLocationVm();

    protected override async Task OnInitializedAsync()
    {
        location = await LocationService.GetLocationDetails(LocationId);
    }

    private async Task UpdateLocation()
    {
        await LocationService.EditLocation(location);
        DialogService.Close(true);
    }
}
